<?xml version='1.0' encoding='utf-8'?>
<widget id="info.mtkz.abScattergram" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Which</name>
    <description>
        The application to evaluate which is the better one.
    </description>
    <author href="http://mtkz.info">
        Mtkz
    </author>
	<feature name="Notification">
	    <param name="ios-package" value="CDVNotification" />
	</feature>
    <content src="index.html" />
    <access origin="*" />
</widget>
